doctype html
html(lang="en")
    head
        meta(charset='utf-8')
        block title
        link(rel='stylesheet' href='/stylesheets/style.css')
        script(type='text/javascript', src='/javascripts/jquery/jquery.min.js')
        script(type='text/javascript', src='/javascripts/peng/peng.js')
        script(type='text/javascript', src='/javascripts/peng/start.js')
        script(type='text/javascript', src='/javascripts/nav.js')
    body
        div(id='wrap' class='bg')
            block content