doctype html
html(lang="en")
    head
        meta(charset='utf-8')
        title Kaitlynn & Dustin's Wedding Reception
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src='/javascripts/jquery/jquery.min.js')
    body
        block content