extends layout
block content
h1= title
p RSVP Here
form(action='/', method='post')
    div
        fieldset
            //label(for='name') Name
            input(id='name', type='text', value='', placeholder='Guest Name', name='name')
    div(data-role='fieldcontain')
        fieldset(data-role='controlgroup')
            //label(for='guests') Number of Guests
            input(id='guests', type='text', value='', placeholder='Number of Guests', name='guests')
    div(data-role='fieldcontain')
        fieldset(data-role='controlgroup')
            //label(for='comments') Comments
            textarea(id='comments', rows='6', cols='50', value='', placeholder='Comments', name='comments')
    div(data-role='fieldcontain')
        input(type='submit', value='RSVP', data-transition='fade', data-theme='c')