@font-face {
    font-family: Precious;
    src: url('../fonts/Precious.ttf');
}

* {
    box-sizing: border-box;
}

html {
    background-color: black;
    overflow: hidden;
}

body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    color: white;
}

a {
    color: #00B7FF;
}

#wrap {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: auto;
    max-width: 900px;
}

#header {
    text-align: center;
}

#header h1 {
    font-family: Precious;
    font-size: 4em;
    margin-bottom: 0;
}

#header h2 {
    margin-top: 0;
}

#header h3 {
    font-weight: bold;
    font-size: 2em;
}

#nav {
    list-style: none;
    float: left;
    width: 25%;
}

#nav ul {

}

#nav a.selected {
    color: blue;
}

.content:before {
    -webkit-filter: blur(5px);
}

#content {
    word-wrap: break-word;
    margin-left: 25%;
    /*-webkit-filter: blur(20px);*/
    /*-moz-filter: blur(15px);*/
    /*-o-filter: blur(15px);*/
    /*-ms-filter: blur(15px);*/
    /*filter: blur(15px);*/
    /*opacity: 0.95;*/
    background: rgba(255,255,255,0.25);
}

#content div.hide {
   display: none;
}

#footer {
    text-align: center;
}

#canvas {
    display: none;
}

.bg {
    position: fixed;
}