@font-face {
    font-family: Precious;
    src: url('../fonts/Precious.ttf');
}

@font-face {
    font-family: Vijaya;
    src: url('../fonts/vijaya.ttf');
}

* {
    box-sizing: border-box;
}

html {
    background-color: black;
}

body {
    padding: 0;
    margin: 0;
    font: 14px Vijaya, "Lucida Grande", Helvetica, sans-serif;
    color: #f0f0f0;
}

.bg {
    /*background-image: url('/images/900x480.jpg');*/
    background-repeat: no-repeat;
    background-size: 900px auto;
    background-position: center top;
}

a {
    color: #00B7FF;
}

#wrap {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 20px 0;
    max-width: 900px;
}

#header {
    text-align: center;
    height: 170px;
}

#header h1 {
    font-family: Precious;
    font-size: 4em;
    margin-bottom: 0;
}

#header h2 {
    margin-top: 0;
}

#header h3 {
    font-weight: bold;
    font-size: 2em;
}

#nav {
    list-style: none;
    float: left;
    width: 25%;
    font-size: 1.8em;
    font-weight: bold;
}

#nav ul {

}

#nav a {
    color: inherit;
    text-decoration: inherit;
}

#nav a.selected {
    color: #fEfEfE;
    text-shadow: 1px 1px #A9A9A9;
}

/*#content:before {*/
    /*background: #CCC;*/
    /*filter: blur(5px);*/
    /*position: absolute;*/
    /*top: 0; left: 0;*/
    /*height: 100%; width:100%;*/
/*}*/

/*#content {*/
    /*word-wrap: break-word;*/
    /*margin-left: 25%;*/
    /*-webkit-filter: blur(20px);*/
    /*-moz-filter: blur(15px);*/
    /*-o-filter: blur(15px);*/
    /*-ms-filter: blur(15px);*/
    /*filter: blur(15px);*/
    /*opacity: 0.95;*/
    /*background: rgba(255,255,255,0.25);*/
/*}*/

#content-container {
    position: relative;
    margin-left: 25%;
}

#content-bg {
    /* Absolutely position it, but stretch it to all four corners, then put it just behind #search's z-index */
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 99;

    /* Pull the background 70px higher to the same place as #bg's */
    background-position: -225px -228px;

    filter: blur(2px);
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    /*filter: url('/media/blur.svg#blur'); *//* for Firefox */
}

#content {
    /* Put this on top of the blurred layer */
    position: relative;
    z-index: 100;
    border-radius: 20px;
    padding: 20px;
    word-wrap: break-word;
    /*background: rgb(34,34,34); *//* for IE */
    /*background: rgba(34,34,34,0.75);*/
    background: rgba(255,255,255,0.15);
    font-size: 1.5em;
}

#content div.hide {
   display: none;
}

#content h1 {
    margin-top: 0px;
    font-size: 1.6em;
}

#content .div-table {
    display: table;
    width: auto;
}
#content .div-row {
    display: table-row;
    width: auto;
    clear: both;
}
#content .div-col {
    float: left;/*fix for  buggy browsers*/
    display: table-column;
    width: 200px;
}

#content .div-col:nth-child(2) {
    text-align: center;
}

#content .div-col:nth-child(3) {
    text-align: right;
}

#content fieldset {
    border: inherit;
}

#content input[type='submit'] {
    margin-left: 1.5em;
}

#content input,
#content textarea {
    border-radius: 3px;
}

#content img {
    float: left;
    margin: 0 20px 10px 0;
    border-radius: 5px;
    max-width: 300px;
}

.clear {
    clear: both;
}

#footer {
    padding: 2em 0;
    text-align: center;
}

#canvas {
    display: none;
}